$font-weights: (
        regular: 400,
        medium: 500,
        bold: 800
) !default;

$font-family: "Inter", sans-serif !default;

@font-face {
  font-family: 'Inter';
  src: url('https://cdn.flaconi.de/media/fonts/inter/inter-regular-webfont-v1.eot');
  src: url('https://cdn.flaconi.de/media/fonts/inter/inter-regular-webfont-v1.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://cdn.flaconi.de/media/fonts/inter/inter-bold-webfont-v1.eot');
  src: url('https://cdn.flaconi.de/media/fonts/inter/inter-bold-webfont-v4.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@function font-weight($key: regular) {
  @return map-get($map: $font-weights, $key: $key);
}