* { box-sizing: border-box; }

html {
  font-size: 100%;
}

* {
  border-radius: 0 !important;
}

body {
  touch-action: manipulation;
  font-family: $font-family;
  font-weight: font-weight(regular);
  color: clr('black');
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: $font-family;
}

div {
  font-family: $font-family;
}
